@font-face {
  font-family: "brand-regular";
  src: url("fonts/brand-regular.woff2") format("woff2");
}

:root {
  --color-brand: #FF6F08;
  --color-text: #222222;
  --color-bg-primary: #E6E6E6;
  --color-bg-secondary: #F6F6F6;
  --color-dark-text: #FAFAFA;
  --color-dark-bg-secondary: #373737;
  --font-stack: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", sans-serif;
}

a {
  color: currentColor;
  position: relative;
  text-decoration: none;
}

body {
  font-family: var(--font-stack);
  color: var(--color-text);
  margin: 0;
}

/* HEADER-FOOTER */
header, footer {
  background-color: var(--color-bg-secondary);
  padding: 1rem 2rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.header-brand {
  font: normal 2rem/1.3 "brand-regular", var(--font-stack);
  margin: 1rem 0;
}

.header-subbrand {
  font: normal 1.6rem/1.3 "brand-regular", var(--font-stack);
  margin: 1rem 0;
}

header p, footer p {
  font: 1rem/2 var(--font-stack);
  margin: 0;
}

header .lead {
  font: 1.1rem/2 var(--font-stack);
}

header p:last-child {
  margin-bottom: 1rem;
}
/* ------------- */

main {
  background-color: var(--color-bg-primary);
  justify-items: center;
  padding: 2rem;
  transition: background-color 0.3s ease;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  max-width: 60rem;
}

/* ICONS */
svg {
  vertical-align: sub;
}

.icon-chevron {
  cursor: pointer;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3rem;
  stroke: #F8F8F8;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.icon-map, .icon-moon {
  cursor: pointer;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 2rem;
  stroke: var(--color-text);
  transition: stroke 0.2s ease, transform 0.2s ease;
}

.icon-map:hover {
  stroke: var(--color-brand);
  transform: scale(1.2);
}

.icon-moon:hover {
  stroke: var(--color-brand);
}

.icon-check {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3rem;
  stroke: var(--color-text);
}

.icon-yarn, .icon-hook, .icon-bunny {
  fill: var(--color-text);
  stroke: var(--color-text);
}
/* ----- */

.anchor-custom a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: var(--color-brand);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, visibility 0.3s ease;
}

.anchor-custom a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* ARTICLE */
.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
}

.article-header {
  font: 1.5rem "brand-regular", var(--font-stack);
  border-bottom: 0.1rem solid #808080;
}

.article-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 0 1.5em;
}

.article-body p {
  line-height: 1.5;
  margin: 0.75rem 0 0;
}
/* ------- */

/* GALLERY */
.gallery-title {
  font: 1.5rem "brand-regular", var(--font-stack);
  border-bottom: 0.1rem solid #808080;
  margin-bottom: 1rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 1.5em;
  align-items: center;
}

.gallery-item {
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
  box-shadow: 0 3px 6px #C0C0C0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.gallery-item p {
  font-family: "brand-regular", var(--font-stack);
  letter-spacing: 0.025rem;
  margin: 0;
  padding: 0.75rem;
  text-align: center;
}
/* ------- */

/* NAVBAR */
input[type='checkbox'] {
  display: none;
}
nav {
  background-color: var(--color-text);
  color: var(--color-bg-secondary);
}
.nav-container {
  margin: 0 auto;
  max-width: 60rem;
}
.nav-container label {
  font-family: "brand-regular", var(--font-stack);
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
/* UNCOLLAPSED-BIG */
@media (min-width: 40rem) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-menu li {
    display: inline-block;
    padding: 0 1rem;
  }
  .icon-chevron {display: none}
}
/* --------------- */
/* COLLAPSED-SMALL */
@media (max-width: 40rem) {
  .nav-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    clear: both;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: max-height 0.2s ease;
  }
  .nav-menu li {
    margin: 1rem;
    text-align: right;
  }
  input:checked + .nav-toggle .icon-chevron {
    transform: rotate(-180deg);
  }
  input:checked ~ .nav-menu {
    max-height: 10rem;
    transition: max-height 0.2s ease;
  }
}
/* --------------- */
/* ------ */

/* DARK */
.dark {
  color: var(--color-dark-text);
  transition: color 0.5s ease;
}

.dark header, .dark footer {
  background-color: var(--color-dark-bg-secondary);
  transition: background-color 0.3s ease;
}

.dark .icon-yarn, .dark .icon-hook, .dark .icon-bunny {
  fill: var(--color-brand);
  stroke: var(--color-brand);
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.dark .icon-map, .dark .icon-moon, .dark .icon-check {
  stroke: var(--color-brand);
  transition: stroke 0.5s ease, transform 0.2s ease;
}

.dark main {
  background-color: var(--color-text);
  transition: background-color 0.3s ease;
}

.dark .gallery-item {
  background-color: var(--color-dark-bg-secondary);
  box-shadow: none;
  transition: background-color 0.3s ease;
}
/* ---- */
