@font-face {
  font-family: "regular";
  src: url("assets/fonts/regular.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: url("assets/fonts/medium.ttf") format("truetype");
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", sans-serif;
  color: #222222;
  margin: 0;
}

header, footer {
  text-align: center;
  background: #F6F6F6;
  padding: 2em;
  transition: background-color 0.3s ease;
}

header p, footer p {
  font-family: "regular";
  line-height: 2;
  margin: 0;
}

header .lead {
  font-family: "medium";
  font-size: 1.1rem;
}

main {
  padding: 2rem;
  justify-items: center;
  background-color: #E6E6E6;
  transition: background-color 0.3s ease;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  max-width: 60rem;
}

/* ICONS */
svg {
  vertical-align: sub;
}

.icon-chevron {
  cursor: pointer;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3rem;
  stroke: #F8F8F8;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.nav-content-contact .icon-instagram {
  fill: #FF6F08;
}

.icon-map, .icon-moon {
  cursor: pointer;
  fill: none;
  stroke-linejoin: round;
  stroke-width: 2rem;
  stroke: #222222;
  transition: stroke 0.2s ease, transform 0.2s ease;
}

.icon-map:hover {
  stroke: #FF6F08;
  transform: scale(1.2);
}

.icon-moon:hover {
  stroke: #FF6F08;
}

.icon-check {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3rem;
  stroke: #222222;
}

.icon-yarn, .icon-hook, .icon-bunny {
  fill: #222222;
  stroke: #222222;
}
/* ----- */

.anchor-custom a {
  position: relative;
  text-decoration: none;
  color: #currentColor;
}

.anchor-custom a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: #FF6F08;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
  transition-property: transform, visibility;
}

.anchor-custom a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* ARTICLE */
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
}

.article-header {
  font-family: "medium";
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #808080;
}

.article-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 0 1.5em;
}

.article-body p {
  margin: 0.75rem 0 0;
  line-height: 1.5;
}
/* ------- */

/* GALLERY */
.gallery-title {
  font-family: "medium";
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #808080;
  margin-bottom: 1rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 1.5em;
  align-items: center;
}

.gallery-item {
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 0 3px 6px #C0C0C0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.gallery-item p {
  font-family: "regular";
  letter-spacing: 0.025rem;
  margin: 0;
  padding: 0.75rem;
  text-align: center;
}
/* ------- */

/* NAVBAR */
.nav-container {
  background-color: #222222;
  color: #F8F8F8;
  width: 100%;
}

.nav-container label {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  max-width: 60rem;
}

.nav-content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  margin: 0 auto;
  max-width: 60rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
}

.nav-content-about, .nav-content-contact {
  margin-bottom: 2em;
  padding: 0 2em;
}

.nav-content-about {
  grid-column: span 2;
}

.nav-content-about p {
  line-height: 1.5;
}

input[type='checkbox'] {
  display: none;
}

input:checked + .nav-toggle .icon-chevron {
  transform: rotate(-180deg);
}

input:checked + .nav-toggle + .nav-content-wrapper {
  max-height: 100vh;
  transition: max-height 0.3s ease;
}
/* ------ */

/* DARK */
.dark {
  color: #FAFAFA;
  transition: color 0.5s ease;
}

.dark header, .dark footer {
  background-color: #333333;
  transition: background-color 0.3s ease;
}

.dark .icon-yarn, .dark .icon-hook, .dark .icon-bunny {
  fill: #FF6F08;
  stroke: #FF6F08;
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.dark .icon-map, .dark .icon-moon, .dark .icon-check {
  stroke: #FF6F08;
  transition: stroke 0.5s ease, transform 0.2s ease;
}

.dark main {
  background-color: #222222;
  transition: background-color 0.3s ease;
}

.dark .card-gallery-item {
  background-color: #3C3C3C;
  box-shadow: none;
  transition: background-color 0.3s ease;
}
/* ---- */
